@model ProductDescAddRequest
@{
    ProductResponse product = ViewBag.Product;
}
<div class="w-50">
    <form asp-controller="Products" asp-action="AddDescription" method="post">
        @*Product Name*@
        <div class="mb-3 row">
            <label id="ProductName" class="col-sm-2 col-form-label">نام محصول</label>
            <div class="col-sm-10">
                <h3 class="form-control" asp-for="DescTitle">@product.ProductNameFr </h3>
            </div>
        </div>
        @*ProductId*@
        <div class="mb-3 row">
            <input type="hidden" class="form-control" asp-for="ProductID" value="@product.Id">
        </div>
        @*Title*@
        <div class="mb-3 row">
            <label asp-for="DescTitle" class="col-sm-2 col-form-label">عنوان</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="DescTitle">
                <span asp-validation-for="DescTitle" class="text-red"></span>
            </div>
        </div>
        @*Description*@
        <div class="mb-3 row">
            <label asp-for="Description" class="col-sm-2 col-form-label">توضیح</label>
            <div class="col-sm-10">
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-red"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <div asp-validation-summary="All"></div>

        <div>
            @if (ViewBag.Errors != null)
            {
                @foreach (string error in ViewBag.Errors)
                {
                    <div class="alert alert-danger" role="alert">
                        @error
                    </div>
                }
            }
        </div>
    </form>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" asp-fallback-test="window.JQuery" asp-fallback-src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" asp-fallback-test="window.JQuery.validator" asp-fallback-src="~/js/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jquery.validate.unobtrusive" asp-fallback-src="~/js/jquery.validate.unobtrusive.min.js"></script>
}