@model ProductDescResponse
<div class="container align-content-center">
    <h3>Are you sure to Delete <span class="text">@Model.DescTitle</span></h3>
    <p>@Model.Description</p>

    <form asp-controller="Products" asp-action="DeleteDescription" method="post">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProductID" />
        <div>
            <button type="submit" class="btn btn-primary">
                <a asp-controller="Products" asp-action="ProductDescriptions" asp-route-productID="@Model.ProductID">Cancell</a>
            </button>

            <button type="submit" class="btn btn-danger">Confirm</button>
        </div>
    </form>
</div>