@model ProductUpdateRequest
<div class="w-50">
    <form asp-controller="Products" asp-action="EditProduct" method="post">

        <input asp-for="Id" type="hidden" />

        @*ProductType*@
        <div class="mb-3 row">
            <label asp-for="TypeId" class="col-sm-2 col-form-label">نوع محصول</label>
            <select asp-for="TypeId" asp-items="@ViewBag.TypeList" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option class="text-center" selected>----------نوع محصول را انتخاب کنید-----------</option>
            </select>
            <span asp-validation-for="TypeId"></span>
        </div>

        @*ProductNameEN*@
        <div class="mb-3 row">
            <label asp-for="ProductNameEn" class="col-sm-2 col-form-label">نام محصول به انگلیسی</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ProductNameEn">
                <span asp-validation-for="ProductNameEn"></span>
            </div>
        </div>

        @*ProductNameFr*@
        <div class="mb-3 row">
            <label asp-for="ProductNameFr" class="col-sm-2 col-form-label">نام محصول به فارسی</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ProductNameFr">
                <span asp-validation-for="ProductNameFr" class="text-red"></span>
            </div>
        </div>

        @*ProductUrl*@
        <div class="mb-3 row">
            <label asp-for="ProductUrl" class="col-sm-2 col-form-label">نام محصول به فارسی</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ProductUrl">
                <span asp-validation-for="ProductUrl" class="text-red"></span>
            </div>
        </div>
        @*ProductisHotsale*@
        <div class="form-check">
            <input class="form-check-input" value="true" asp-for="isHotSale">
            <label class="form-check-label" asp-for="isHotSale">
                پرفروش
            </label>
        </div>

        @*ProductisManufactored*@
        <div class="form-check">
            <input class="form-check-input" value="true" asp-for="isManufactured">
            <label class="form-check-label" asp-for="isManufactured">
                تولید شرکت
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <div asp-validation-summary="All"></div>
        <div>
            @if (ViewBag.Errors != null)
            {
                @foreach (string error in ViewBag.Errors)
                {
                    <div class="alert alert-danger" role="alert">
                        @error
                    </div>
                }
            }
        </div>
    </form>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" asp-fallback-test="window.JQuery" asp-fallback-src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" asp-fallback-test="window.JQuery.validator" asp-fallback-src="~/js/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jquery.validate.unobtrusive" asp-fallback-src="~/js/jquery.validate.unobtrusive.min.js"></script>
}
