<form>
    <label>UserName</label>
    <input type="text" />
    <label>Pass</label>
    <input type="password" />
    <lablel>Remember Me</lablel>
    <checkbox>yes</checkbox>
    <button type="submit">confirm</button>
</form>