    <div class="card bg-dark text-white">
        <img src="images/banners/baner%20(6).jpg" class="card-img" alt="..." style="opacity: .3;height: 300px">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="card-title text-center fs-5 fw-bold d-flex justify-content-between ">
                <a CLASS="text-white fs-4" HREF="~/">صفحه اصلی</a>
                <i class="bi-chevron-double-left fs-3"></i>
                <a CLASS="text-white fs-4">تماس با ما</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row contact-us mt-5 mb-5">
            <ul class="contact">
                <li class="fw-bold">شماره های تماس:</li>
                <li>
                    <i class="bi-phone"></i>
                    <span class="contact-title">مدیر عامل (رضا محمودی): </span>
                    <span class="contact-tell"> 09143708865</span>
                </li>
                <li>
                    <i class="bi-telephone"></i>
                    <span class="contact-title">واحد فروش: </span>
                    <span class="contact-tell"> 044-32259677</span>
                </li>
                <li>
                    <i class="bi-telephone"></i>
                    <span class="contact-title">واحد حسابداری: </span>
                    <span class="contact-tell"> 044-32259678</span>
                </li>
                <li>
                    <i class="bi-whatsapp"></i>
                    <span class="contact-title">واتساپ: </span>
                    <span class="contact-tell"> 09367777443</span>
                </li>
                <li>
                    <i class="bi-phone"></i>
                    <span class="contact-title">مدیر امور مالیاتی (شرکت حسابان): </span>
                    <span class="contact-tell"> 09144838507</span>
                </li>
            </ul>
            <ul>
                <li>آدرس دفتر مرکزی</li>
                <li>
                    <i class="bi-house-door-fill"></i>
                    <span>ارومیه - فلکه خیام -مجتمع آذربایجان- طبقه 4 واحد 16</span>
                </li>
                <li>
                    <i class="bi-telephone-fill"></i>
                    <span>تلفن دفتر مرکزی:</span>
                    <span>044-3225002</span>
                </li>
            </ul>
            <ul>
                <li>
                    <i class="bi-building"></i>
                    <span>آدرس کارخانه</span>
                </li>
                <li>
                    <i class="bi-"></i>
                    <span>ارومیه - بزرگراه کلانتری- شهرک صنعتی فاز 2- کوچه تلاش 4 پلاک </span>
                </li>
                <li>
                    <i class="bi-telephone-inbound"></i>
                    <span>044-33744805</span>
                </li>
            </ul>
        </div>
    </div>
