@model IEnumerable<ProductResponse>
<div class="card bg-dark text-white">
    <img src="~/images/banners/baner%20(4).jpg" class="card-img" alt="..." style="opacity: .6;height: 300px">
    <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <div class="card-title text-center fs-5 fw-bold d-flex justify-content-between ">
            <a CLASS="text-white fs-4" HREF="~/">صفحه اصلی</a>
            <i class="bi-chevron-double-left fs-3"></i>
            <a CLASS="text-white fs-4">تولیدات ما</a>
        </div>
    </div>
</div>
<div class="container-xxl">
    @{
        foreach (ProductResponse item in Model)
        {
            ProductDescResponse? desc = ((List<ProductDescResponse>)ViewBag.Desc)
            .FirstOrDefault(t => t.ProductID == item.ProductId);
            <div class="card mb-3 mt-3 ms-2 me-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="manufactured-img">
                            <img src="~/images/products/@item.ImageUrl" class="img-fluid rounded-start" alt="@item.ProductNameFr" style="width: 350px" asp-append-version="true">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-danger fw-bold">@item.ProductNameFr</h5>
                            @if (desc != null)
                            {
                                <p class="card-text">@desc.Description</p>
                            }
                            <a class="btn btn-info" asp-action="OurProductDetails" asp-controller="Home" asp-route-productUrl="@item.ProductUrl" >بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>