    <div class="card bg-dark text-white">
        <img src="images/banners/baner%20(1).jpg" class="card-img" alt="..." style="opacity: .3;height: 300px">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="card-title text-center fs-5 fw-bold d-flex justify-content-between ">
                <a CLASS="text-white fs-4" HREF="~/">صفحه اصلی</a>
                <i class="bi-chevron-double-left fs-3"></i>
                <a CLASS="text-white fs-4">درباره ما</a>
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="row mt-5 mb-2">
            <h4>شرکت تجهیزات پزشکی سبلان آزمایش اروم </h4>
        </div>
        <div class="row">
            <p>
                شرکت سبلان آزمایش اروم، یک شرکت نوپا در زمینه تولید محصولات پزشکی و واردکننده اقلام مصرفی پزشکی می باشد. این شرکت فعالیت خود را از سال 1397 به منظور تولید محصول با کیفیت و ارزان قیمت با هدف کاهش نیاز بازار تاسیس کرده است. این شرکت با در اختیار داشتن متخصصین حوزه فناوری و IT و کادر مجرب با تجربه، به سرعت پله های موفقیت را در زمینه ارتقا کیفیت و فروش و بازاریابی در نوردیده است . ورود به بازار فروش تجهیزات پزشکی با دید بلند مدت ، از اهداف این شرکت می باشد. در حال حاضرشرکت سبلان آزمایش در زمینه تولید اقلام بیهوشی-تنفسی از قبیل ماسک جراحی، ماسک سه لایه و ماسک سه بعدی، N95 ، فیلترآنتی باکتریال،فیلتر HME، فیلتر اسپیرومتری، لوله خرطومی، دستگاه ونتیلاتور، ایروی، ماسک اکسیژن و غیره فعالیت می کند. در کنار تولید اقلام
            </p>
        </div>
    </div>
